.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/
VerbumSecretum.iml
app/app.iml
app/build.gradle
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
logcat.txt
settings.gradle
